$customMargin:10px;
.add-body{
    height: 100%;
    width: 100%;
}
.add-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerunderline{
    border: 1px solid lightgray;
}
.add-buttom{
    margin-left: $customMargin;
}
.input-field{
    margin-left: $customMargin;
    text-transform: capitalize;
}
.button-div{
    display: flex;
    justify-content: end;
}